In [105]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Polygon
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.dummy import DummyClassifier 
from sklearn.linear_model import LogisticRegressionCV
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.decomposition import PCA

In [106]:
#import folium

In [107]:
# m = folium.Map(location=(38.029, -78.477), zoom_start=13)

# geojson_data = requests.get(
#    'https://gisweb.charlottesville.org/arcgis/rest/services/OpenData_1/MapServer/13/query?outFields=*&where=1%3D1&f=geojson'
# ).json()

# folium.GeoJson(
#     geojson_data,
#     style_function=lambda feature: {
#         "fillColor": "blue",
#     },
# ).add_to(m)

# folium.LayerControl().add_to(m)

# schools = "Elementary_School_Zone_Area.geojson"
# folium.GeoJson(schools,  style_function=lambda feature: {
#         "color": "red",
#     },).add_to(m)

# m

In [108]:
#Load in a GeoJSON of Charlottesville census blocks
data = gpd.read_file('https://gisweb.charlottesville.org/arcgis/rest/services/OpenData_1/MapServer/13/query?where=1%3D1&outFields=*&outSR=4326&f=json')

In [109]:
#Load in a GeoJSON of the elementary school zone boundaries
schools = gpd.read_file('https://gisweb.charlottesville.org/arcgis/rest/services/OpenData_1/MapServer/16/query?outFields=*&where=1%3D1&f=geojson')
schools

   OBJECTID           ZONE                                           geometry
0         2          Clark  POLYGON ((-78.47802 38.02863, -78.48150 38.029...
1         4    Jackson-Via  POLYGON ((-78.49029 38.02682, -78.49203 38.027...
2         5        Johnson  POLYGON ((-78.49289 38.02676, -78.49275 38.026...
3         6     Greenbrier  MULTIPOLYGON (((-78.47221 38.06803, -78.47100 ...
4         1  Burnley-Moran  POLYGON ((-78.49375 38.03334, -78.49380 38.033...
5         3        Venable  POLYGON ((-78.47841 38.04517, -78.47901 38.045...

In [110]:
#Set variables for each school's boundaries
clark = schools['geometry'][0]
jv = schools['geometry'][1]
johnson = schools['geometry'][2]
greenbrier = schools['geometry'][3]
bm = schools['geometry'][4]
venable = schools['geometry'][5]

In [111]:
#Write a function that will label each block by its assigned school
def find_school_zone(schools, data):
    for x in range(803):
        if clark.contains(data['geometry'][x])==True:
            data['school_zone'][x]="Clark",
        elif jv.contains(data['geometry'][x])==True:
            data['school_zone'][x]="Jackson-Via",
        elif johnson.contains(data['geometry'][x])==True:
            data['school_zone'][x]="Johnson",
        elif greenbrier.contains(data['geometry'][x])==True:
            data['school_zone'][x]="Greenbrier",
        elif bm.contains(data['geometry'][x])==True:
            data['school_zone'][x]="Burnley-Moran",
        elif venable.contains(data['geometry'][x])==True:
            data['school_zone'][x]="Venable",
        else: data['school_zone'][x]="Manual"

In [112]:
#Make the new column, set a default
data['school_zone']="Manual"

In [113]:
#Run the function
pd.options.mode.chained_assignment = None
find_school_zone(schools, data)

In [114]:
#Check counts
data['school_zone'].value_counts()

Manual              196
(Venable,)          189
(Burnley-Moran,)    175
(Clark,)             78
(Greenbrier,)        66
(Jackson-Via,)       53
(Johnson,)           46
Name: school_zone, dtype: int64

In [115]:
#The function missed about 25% of zones, largely those on borders. Since the data set is rather small, I will
#refer to the visual map and input these school zones manually. In cases of a block that covers multiple attendance
#areas, I will assign to the school that has the clear majority of the zone. If a clear majority is not obvious,
#I will label it "Split".
manuals = data.loc[data['school_zone']=='Manual']

In [116]:
manuals

,OBJECTID,ID,cvgis.CITY.census_block_2010_area.AREA,Coloring,Block,BlockGroup,Tract,County,State,Block2000,...,NH18__DOJ_Asn,NH18__DOJ_Hwn,NH18__DOJ_Oth,NH18__DOJ_OthMR,Housing_Units,HU_Occupied,HU_Vacant,Sliver,geometry,school_zone
0,1,11532,NaN,1,515400006002011,515400006002,51540000600,51540,51,515400006002011,...,150,0,0,5,156,148,8,0,"POLYGON ((-78.51184 38.02624, -78.51499 38.025...",Manual
2,3,11570,NaN,0,515400006002006,515400006002,51540000600,51540,51,515400006002006,...,0,0,0,0,2,2,0,0,"POLYGON ((-78.51974 38.02846, -78.51971 38.028...",Manual
4,5,11604,NaN,1,515400006002004,515400006002,51540000600,51540,51,515400006002004,...,58,0,0,1,0,0,0,0,"POLYGON ((-78.51939 38.02846, -78.51974 38.028...",Manual
5,6,11624,NaN,0,515400006002003,515400006002,51540000600,51540,51,515400006002003,...,11,0,0,0,19,17,2,0,"POLYGON ((-78.51650 38.02864, -78.51649 38.027...",Manual
6,7,11645,NaN,1,515400006002002,515400006002,51540000600,51540,51,515400006002002,...,198,1,0,3,178,173,5,0,"POLYGON ((-78.51447 38.02871, -78.51435 38.028...",Manual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,794,21144,NaN,1,515400006001003,515400006001,51540000600,51540,51,515400006001002,...,0,0,0,0,0,0,0,0,"POLYGON ((-78.49868 38.03031, -78.49887 38.030...",Manual
796,797,21200,NaN,3,515400002022009,515400002022,51540000202,51540,51,515400002022019,...,0,0,0,0,0,0,0,0,"POLYGON ((-78.49735 38.03377, -78.49754 38.033...",Manual
797,798,21218,NaN,1,515400002021030,515400002021,51540000202,51540,51,515400002021020,...,0,0,0,0,0,0,0,0,"POLYGON ((-78.49651 38.03175, -78.49655 38.031...",Manual
798,799,21238,NaN,0,515400006001001,515400006001,51540000600,51540,51,515400006001000,...,0,0,0,0,0,0,0,0,"POLYGON ((-78.49539 38.03139, -78.49547 38.031...",Manual
802,803,21324,NaN,1,515400002023012,515400002023,51540000202,51540,51,515400002022016,...,10,0,0,1,16,16,0,0,"POLYGON ((-78.50234 38.03652, -78.50240 38.036...",Manual

In [117]:
#Inputs generated by creating an ArcGIS map of the two datasets, accessed through opendata.charlottesville.org
data['school_zone'][0]='Venable'
data['school_zone'][2]='Venable'
data['school_zone'][4]='Venable'
data['school_zone'][5]='Venable'
data['school_zone'][6]='Venable'
data['school_zone'][7]='Venable'
data['school_zone'][8]='Venable'
data['school_zone'][9]='Venable'
data['school_zone'][13]='Venable'
data['school_zone'][17]='Venable'
data['school_zone'][19]='Venable'
data['school_zone'][20]='Venable'
data['school_zone'][21]='Venable'
data['school_zone'][24]='Jackson-Via'
data['school_zone'][27]='Jackson-Via'
data['school_zone'][34]='Johnson'
data['school_zone'][40]='Johnson'
data['school_zone'][42]='Jackson-Via'
data['school_zone'][47]='Split'
data['school_zone'][49]='Jackson-Via'
data['school_zone'][52]='Jackson-Via'
data['school_zone'][60]='Johnson'
data['school_zone'][62]='Jackson-Via'
data['school_zone'][65]='Johnson'
data['school_zone'][68]='Jackson-Via'
data['school_zone'][70]='Jackson-Via'
data['school_zone'][74]='Jackson-Via'
data['school_zone'][77]='Venable'
data['school_zone'][78]='Johnson'
data['school_zone'][79]='Venable'
data['school_zone'][83]='Johnson'
data['school_zone'][84]='Split'
data['school_zone'][87]='Johnson'
data['school_zone'][99]='Venable'
data['school_zone'][108]='Venable'
data['school_zone'][110]='Venable'
data['school_zone'][111]='Venable'
data['school_zone'][113]='Venable'
data['school_zone'][115]='Venable'
data['school_zone'][116]='Venable'
data['school_zone'][117]='Venable'
data['school_zone'][123]='Venable'
data['school_zone'][125]='Venable'
data['school_zone'][126]='Venable'
data['school_zone'][127]='Venable'
data['school_zone'][128]='Split'
data['school_zone'][129]='Greenbrier'
data['school_zone'][130]='Greenbrier'
data['school_zone'][131]='Venable'
data['school_zone'][132]='Venable'
data['school_zone'][133]='Venable'
data['school_zone'][135]='Venable'
data['school_zone'][158]='Jackson-Via'
data['school_zone'][166]='Johnson'
data['school_zone'][169]='Split'
data['school_zone'][174]='Jackson-Via'
data['school_zone'][176]='Clark'
data['school_zone'][177]='Clark'
data['school_zone'][178]='Clark'
data['school_zone'][179]='Jackson-Via'
data['school_zone'][183]='Jackson-Via'
data['school_zone'][193]='Jackson-Via'
data['school_zone'][196]='Split'
data['school_zone'][197]='Johnson'
data['school_zone'][198]='Johnson'
data['school_zone'][199]='Johnson'
data['school_zone'][202]='Johnson'
data['school_zone'][205]='Johnson'
data['school_zone'][206]='Clark'
data['school_zone'][209]='Clark'
data['school_zone'][210]='Jackson-Via'
data['school_zone'][212]='Clark'
data['school_zone'][214]='Clark'
data['school_zone'][225]='Greenbrier'
data['school_zone'][232]='Burnley-Moran'
data['school_zone'][233]='Burnley-Moran'
data['school_zone'][235]='Burnley-Moran'
data['school_zone'][236]='Burnley-Moran'
data['school_zone'][238]='Burnley-Moran'
data['school_zone'][239]='Burnley-Moran'
data['school_zone'][240]='Greenbrier'
data['school_zone'][246]='Greenbrier'
data['school_zone'][251]='Greenbrier'
data['school_zone'][253]='Greenbrier'
data['school_zone'][255]='Burnley-Moran'
data['school_zone'][256]='Burnley-Moran'
data['school_zone'][257]='Greenbrier'
data['school_zone'][258]='Split'
data['school_zone'][286]='Greenbrier'
data['school_zone'][288]='Split'
data['school_zone'][290]='Split'
data['school_zone'][304]='Greenbrier'
data['school_zone'][306]='Greenbrier'
data['school_zone'][311]='Greenbrier'
data['school_zone'][312]='Greenbrier'
data['school_zone'][313]='Burnley-Moran'
data['school_zone'][314]='Greenbrier'
data['school_zone'][315]='Greenbrier'
data['school_zone'][321]='Greenbrier'
data['school_zone'][344]='Split'
data['school_zone'][345]='Venable'
data['school_zone'][360]='Venable'
data['school_zone'][362]='Greenbrier'
data['school_zone'][366]='Greenbrier'
data['school_zone'][368]='Greenbrier'
data['school_zone'][369]='Venable'
data['school_zone'][371]='Greenbrier'
data['school_zone'][372]='Greenbrier'
data['school_zone'][373]='Venable'
data['school_zone'][377]='Venable'
data['school_zone'][380]='Venable'
data['school_zone'][384]='Venable'
data['school_zone'][385]='Venable'
data['school_zone'][386]='Venable'
data['school_zone'][390]='Burnley-Moran'
data['school_zone'][396]='Burnley-Moran'
data['school_zone'][398]='Burnley-Moran'
data['school_zone'][407]='Burnley-Moran'
data['school_zone'][408]='Burnley-Moran'
data['school_zone'][419]='Greenbrier'
data['school_zone'][421]='Greenbrier'
data['school_zone'][423]='Greenbrier'
data['school_zone'][425]='Greenbrier'
data['school_zone'][431]='Venable'
data['school_zone'][441]='Split'
data['school_zone'][450]='Split'
data['school_zone'][470]='Split'
data['school_zone'][472]='Split'
data['school_zone'][476]='Split'
data['school_zone'][477]='Greenbrier'
data['school_zone'][482]='Greenbrier'
data['school_zone'][484]='Greenbrier'
data['school_zone'][485]='Greenbrier'
data['school_zone'][486]='Greenbrier'
data['school_zone'][487]='Greenbrier'
data['school_zone'][488]='Greenbrier'
data['school_zone'][490]='Greenbrier'
data['school_zone'][493]='Greenbrier'
data['school_zone'][494]='Greenbrier'
data['school_zone'][495]='Greenbrier'
data['school_zone'][497]='Jackson-Via'
data['school_zone'][499]='Jackson-Via'
data['school_zone'][500]='Split'
data['school_zone'][501]='Split'
data['school_zone'][502]='Clark'
data['school_zone'][503]='Clark'
data['school_zone'][505]='Clark'
data['school_zone'][506]='Clark'
data['school_zone'][508]='Clark'
data['school_zone'][511]='Clark'
data['school_zone'][551]='Burnley-Moran'
data['school_zone'][552]='Clark'
data['school_zone'][553]='Clark'
data['school_zone'][554]='Clark'
data['school_zone'][557]='Clark'
data['school_zone'][569]='Clark'
data['school_zone'][571]='Burnley-Moran'
data['school_zone'][573]='Clark'
data['school_zone'][576]='Burnley-Moran'
data['school_zone'][618]='Burnley-Moran'
data['school_zone'][622]='Greenbrier'
data['school_zone'][623]='Greenbrier'
data['school_zone'][627]='Greenbrier'
data['school_zone'][633]='Burnley-Moran'
data['school_zone'][693]='Split'
data['school_zone'][707]='Split'
data['school_zone'][708]='Split'
data['school_zone'][709]='Venable'
data['school_zone'][710]='Burnley-Moran'
data['school_zone'][711]='Venable'
data['school_zone'][713]='Split'
data['school_zone'][715]='Split'
data['school_zone'][716]='Clark'
data['school_zone'][717]='Clark'
data['school_zone'][721]='Burnley-Moran'
data['school_zone'][722]='Burnley-Moran'
data['school_zone'][723]="Burnley-Moran"
data['school_zone'][740]="Clark"
data['school_zone'][742]='Burnley-Moran'
data['school_zone'][744]='Burnley-Moran'
data['school_zone'][745]='Clark'
data['school_zone'][748]='Burnley-Moran'
data['school_zone'][750]='Burnley-Moran'
data['school_zone'][751]='Burnley-Moran'
data['school_zone'][752]='Venable'
data['school_zone'][756]='Venable'
data['school_zone'][762]='Clark'
data['school_zone'][768]='Clark'
data['school_zone'][769]='Burnley-Moran'
data['school_zone'][779]='Johnson'
data['school_zone'][782]='Venable'
data['school_zone'][793]='Venable'
data['school_zone'][796]='Venable'
data['school_zone'][797]='Venable'
data['school_zone'][798]='Venable'
data['school_zone'][802]='Venable'
data['school_zone'][803]='Venable'

In [118]:
data['school_zone'].value_counts()

(Venable,)          189
(Burnley-Moran,)    175
(Clark,)             78
(Greenbrier,)        66
(Jackson-Via,)       53
Venable              51
(Johnson,)           46
Greenbrier           39
Burnley-Moran        29
Clark                25
Split                21
Jackson-Via          17
Johnson              14
Name: school_zone, dtype: int64

In [119]:
#The function inserted school names as tuples, so we need to standardize them
data['school_zone'] = data['school_zone'].apply(lambda x: x if type(x)==str else x[0])

In [120]:
data['school_zone'].value_counts()

Venable          240
Burnley-Moran    204
Greenbrier       105
Clark            103
Jackson-Via       70
Johnson           60
Split             21
Name: school_zone, dtype: int64

In [121]:
#Done with the shapes, so let's convert back to a standard dataframe
data.pop('geometry')
data=pd.DataFrame(data)

In [122]:
#The splits are not very helpful, so we'll drop those
data = data[data['school_zone'] != 'Split']

In [123]:
#Look at the available information
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 802
Data columns (total 381 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   OBJECTID                                int64
 1   ID                                      int64
 2   cvgis.CITY.census_block_2010_area.AREA  float64
 3   Coloring                                int64
 4   Block                                   object
 5   BlockGroup                              object
 6   Tract                                   object
 7   County                                  object
 8   State                                   object
 9   Block2000                               object
 10  MCD                                     object
 11  SubMCD                                  object
 12  Place                                   object
 13  ConCity                                 object
 14  VTD                                     object
 15  Congress                                object
 16  LowerSLD                                object
 17  UpperSLD                                object
 18  CountyLD                                object
 19  CityLD                                  object
 20  Indian                                  object
 21  Trust                                   object
 22  TribalSub                               object
 23  ANRC                                    object
 24  CSA                                     object
 25  CBSA                                    object
 26  CBSADiv                                 object
 27  UA                                      object
 28  UGA                                     object
 29  ElemSchool                              object
 30  SecSchool                               object
 31  UnifSchool                              object
 32  ZIP5                                    object
 33  UrbanRural                              object
 34  Population                              int64
 35  White                                   int64
 36  Black                                   int64
 37  AmIndian                                int64
 38  Asian                                   int64
 39  Hawaiian                                int64
 40  Other                                   int64
 41  WhtBlk                                  int64
 42  WhtInd                                  int64
 43  WhtAsn                                  int64
 44  WhtHwn                                  int64
 45  WhtOth                                  int64
 46  BlkInd                                  int64
 47  BlkAsn                                  int64
 48  BlkHwn                                  int64
 49  BlkOth                                  int64
 50  IndAsn                                  int64
 51  IndHwn                                  int64
 52  IndOth                                  int64
 53  AsnHwn                                  int64
 54  AsnOth                                  int64
 55  HwnOth                                  int64
 56  WhtBlkInd                               int64
 57  WhtBlkAsn                               int64
 58  WhtBlkHwn                               int64
 59  WhtBlkOth                               int64
 60  WhtIndAsn                               int64
 61  WhtIndHwn                               int64
 62  WhtIndOth                               int64
 63  WhtAsnHwn                               int64
 64  WhtAsnOth                               int64
 65  WhtHwnOth                               int64
 66  BlkIndAsn                               int64
 67  BlkIndHwn                               int64
 68  BlkIndOth                               int64
 69  BlkAsnHwn                               int64
 70  BlkAsnOth                               int64
 71  BlkHwnOth                               int64
 72  IndAsnHwn                               int64
 73  IndAsnOth                               int64
 74  IndHwnOth                               int64
 75  AsnHwnOth                               int64
 76  WhtBlkIndAsn                            int64
 77  WhtBlkIndHwn                            int64
 78  WhtBlkIndOth                            int64
 79  WhtBlkAsnHwn                            int64
 80  WhtBlkAsnOth                            int64
 81  WhtBlkHwnOth                            int64
 82  WhtIndAsnHwn                            int64
 83  WhtIndAsnOth                            int64
 84  WhtIndHwnOth                            int64
 85  WhtAsnHwnOth                            int64
 86  BlkIndAsnHwn                            int64
 87  BlkIndAsnOth                            int64
 88  BlkIndHwnOth                            int64
 89  BlkAsnHwnOth                            int64
 90  IndAsnHwnOth                            int64
 91  WhtBlkIndAsnHwn                         int64
 92  WhtBlkIndAsnOth                         int64
 93  WhtBlkIndHwnOth                         int64
 94  WhtBlkAsnHwnOth                         int64
 95  WhtIndAsnHwnOth                         int64
 96  BlkIndAsnHwnOth                         int64
 97  All_Races                               int64
 98  AP_Wht                                  int64
 99  NP_Wht                                  int64
 100 AP_Blk                                  int64
 101 NP_Blk                                  int64
 102 AP_Ind                                  int64
 103 NP_Ind                                  int64
 104 AP_Asn                                  int64
 105 NP_Asn                                  int64
 106 AP_Hwn                                  int64
 107 NP_Hwn                                  int64
 108 AP_Oth                                  int64
 109 NP_Oth                                  int64
 110 Race                                    int64
 111 Races                                   int64
 112 Races_1                                 int64
 113 Races_12                                int64
 114 Races_12_13                             int64
 115 Races_12_13_14                          int64
 116 Hispanic_Origin                         int64
 117 Not_Hispanic                            int64
 118 NH_Wht                                  int64
 119 NH_Blk                                  int64
 120 NH_Ind                                  int64
 121 NH_Asn                                  int64
 122 NH_Hwn                                  int64
 123 NH_Oth                                  int64
 124 NH_WhtBlk                               int64
 125 NH_WhtInd                               int64
 126 NH_WhtAsn                               int64
 127 NH_WhtHwn                               int64
 128 NH_WhtOth                               int64
 129 NH_BlkInd                               int64
 130 NH_BlkAsn                               int64
 131 NH_BlkHwn                               int64
 132 NH_BlkOth                               int64
 133 NH_IndAsn                               int64
 134 NH_IndHwn                               int64
 135 NH_IndOth                               int64
 136 NH_AsnHwn                               int64
 137 NH_AsnOth                               int64
 138 NH_HwnOth                               int64
 139 NH_WhtBlkInd                            int64
 140 NH_WhtBlkAsn                            int64
 141 NH_WhtBlkHwn                            int64
 142 NH_WhtBlkOth                            int64
 143 NH_WhtIndAsn                            int64
 144 NH_WhtIndHwn                            int64
 145 NH_WhtIndOth                            int64
 146 NH_WhtAsnHwn                            int64
 147 NH_WhtAsnOth                            int64
 148 NH_WhtHwnOth                            int64
 149 NH_BlkIndAsn                            int64
 150 NH_BlkIndHwn                            int64
 151 NH_BlkIndOth                            int64
 152 NH_BlkAsnHwn                            int64
 153 NH_BlkAsnOth                            int64
 154 NH_BlkHwnOth                            int64
 155 NH_IndAsnHwn                            int64
 156 NH_IndAsnOth                            int64
 157 NH_IndHwnOth                            int64
 158 NH_AsnHwnOth                            int64
 159 NH_WhtBlkIndAsn                         int64
 160 NH_WhtBlkIndHwn                         int64
 161 NH_WhtBlkIndOth                         int64
 162 NH_WhtBlkAsnHwn                         int64
 163 NH_WhtBlkAsnOth                         int64
 164 NH_WhtBlkHwnOth                         int64
 165 NH_WhtIndAsnHwn                         int64
 166 NH_WhtIndAsnOth                         int64
 167 NH_WhtIndHwnOth                         int64
 168 NH_WhtAsnHwnOth                         int64
 169 NH_BlkIndAsnHwn                         int64
 170 NH_BlkIndAsnOth                         int64
 171 NH_BlkIndHwnOth                         int64
 172 NH_BlkAsnHwnOth                         int64
 173 NH_IndAsnHwnOth                         int64
 174 NH_WhtBlkIndAsnHwn                      int64
 175 NH_WhtBlkIndAsnOth                      int64
 176 NH_WhtBlkIndHwnOth                      int64
 177 NH_WhtBlkAsnHwnOth                      int64
 178 NH_WhtIndAsnHwnOth                      int64
 179 NH_BlkIndAsnHwnOth                      int64
 180 NH_All_Races                            int64
 181 NH_AP_Wht                               int64
 182 NH_NP_Wht                               int64
 183 NH_AP_Blk                               int64
 184 NH_NP_Blk                               int64
 185 NH_AP_Ind                               int64
 186 NH_NP_Ind                               int64
 187 NH_AP_Asn                               int64
 188 NH_NP_Asn                               int64
 189 NH_AP_Hwn                               int64
 190 NH_NP_Hwn                               int64
 191 NH_AP_Oth                               int64
 192 NH_NP_Oth                               int64
 193 NH_1_Race                               int64
 194 NH_2__Races                             int64
 195 NH_2_Races                              int64
 196 NH_3_Races                              int64
 197 NH_4_Races                              int64
 198 NH_5_Races                              int64
 199 NH_DOJ_Blk                              int64
 200 NH_DOJ_Ind                              int64
 201 NH_DOJ_Asn                              int64
 202 NH_DOJ_Hwn                              int64
 203 NH_DOJ_Oth                              int64
 204 NH_DOJ_OthMR                            int64
 205 Pop                                     int64
 206 Wht                                     int64
 207 Blk                                     int64
 208 Ind                                     int64
 209 Asn                                     int64
 210 Hwn                                     int64
 211 Oth                                     int64
 212 WhtBlk_1                                int64
 213 WhtInd_1                                int64
 214 WhtAsn_1                                int64
 215 WhtHwn_1                                int64
 216 WhtOth_1                                int64
 217 BlkInd_1                                int64
 218 BlkAsn_1                                int64
 219 BlkHwn_1                                int64
 220 BlkOth_1                                int64
 221 IndAsn_1                                int64
 222 IndHwn_1                                int64
 223 IndOth_1                                int64
 224 AsnHwn_1                                int64
 225 AsnOth_1                                int64
 226 HwnOth_1                                int64
 227 WhtBlkInd_1                             int64
 228 WhtBlkAsn_1                             int64
 229 WhtBlkHwn_1                             int64
 230 WhtBlkOth_1                             int64
 231 WhtIndAsn_1                             int64
 232 WhtIndHwn_1                             int64
 233 WhtIndOth_1                             int64
 234 WhtAsnHwn_1                             int64
 235 WhtAsnOth_1                             int64
 236 WhtHwnOth_1                             int64
 237 BlkIndAsn_1                             int64
 238 BlkIndHwn_1                             int64
 239 BlkIndOth_1                             int64
 240 BlkAsnHwn_1                             int64
 241 BlkAsnOth_1                             int64
 242 BlkHwnOth_1                             int64
 243 IndAsnHwn_1                             int64
 244 IndAsnOth_1                             int64
 245 IndHwnOth_1                             int64
 246 AsnHwnOth_1                             int64
 247 WhtBlkIndAsn_1                          int64
 248 WhtBlkIndHwn_1                          int64
 249 WhtBlkIndOth_1                          int64
 250 WhtBlkAsnHwn_1                          int64
 251 WhtBlkAsnOth_1                          int64
 252 WhtBlkHwnOth_1                          int64
 253 WhtIndAsnHwn_1                          int64
 254 WhtIndAsnOth_1                          int64
 255 WhtIndHwnOth_1                          int64
 256 WhtAsnHwnOth_1                          int64
 257 BlkIndAsnHwn_1                          int64
 258 BlkIndAsnOth_1                          int64
 259 BlkIndHwnOth_1                          int64
 260 BlkAsnHwnOth_1                          int64
 261 IndAsnHwnOth_1                          int64
 262 WhtBlkIndAsnHwn_1                       int64
 263 WhtBlkIndAsnOth_1                       int64
 264 WhtBlkIndHwnOth_1                       int64
 265 WhtBlkAsnHwnOth_1                       int64
 266 WhtIndAsnHwnOth_1                       int64
 267 BlkIndAsnHwnOth_1                       int64
 268 All_Races_1                             int64
 269 AP_Wht_1                                int64
 270 NP_Wht_1                                int64
 271 AP_Blk_1                                int64
 272 NP_Blk_1                                int64
 273 AP_Ind_1                                int64
 274 NP_Ind_1                                int64
 275 AP_Asn_1                                int64
 276 NP_Asn_1                                int64
 277 AP_Hwn_1                                int64
 278 NP_Hwn_1                                int64
 279 AP_Oth_1                                int64
 280 NP_Oth_1                                int64
 281 Race_1                                  int64
 282 Races_12_13_14_15                       int64
 283 Races_12_13_14_15_16                    int64
 284 Races_12_13_14_15_16_17                 int64
 285 Races_12_13_14_15_16_17_18              int64
 286 Races_12_13_14_15_16_17_18_19           int64
 287 H18__Pop                                int64
 288 NH18__Pop                               int64
 289 NH18__Wht                               int64
 290 NH18__Blk                               int64
 291 NH18__Ind                               int64
 292 NH18__Asn                               int64
 293 NH18__Hwn                               int64
 294 NH18__Oth                               int64
 295 NH18__WhtBlk                            int64
 296 NH18__WhtInd                            int64
 297 NH18__WhtAsn                            int64
 298 NH18__WhtHwn                            int64
 299 NH18__WhtOth                            int64
 300 NH18__BlkInd                            int64
 301 NH18__BlkAsn                            int64
 302 NH18__BlkHwn                            int64
 303 NH18__BlkOth                            int64
 304 NH18__IndAsn                            int64
 305 NH18__IndHwn                            int64
 306 NH18__IndOth                            int64
 307 NH18__AsnHwn                            int64
 308 NH18__AsnOth                            int64
 309 NH18__HwnOth                            int64
 310 NH18__WhtBlkInd                         int64
 311 NH18__WhtBlkAsn                         int64
 312 NH18__WhtBlkHwn                         int64
 313 NH18__WhtBlkOth                         int64
 314 NH18__WhtIndAsn                         int64
 315 NH18__WhtIndHwn                         int64
 316 NH18__WhtIndOth                         int64
 317 NH18__WhtAsnHwn                         int64
 318 NH18__WhtAsnOth                         int64
 319 NH18__WhtHwnOth                         int64
 320 NH18__BlkIndAsn                         int64
 321 NH18__BlkIndHwn                         int64
 322 NH18__BlkIndOth                         int64
 323 NH18__BlkAsnHwn                         int64
 324 NH18__BlkAsnOth                         int64
 325 NH18__BlkHwnOth                         int64
 326 NH18__IndAsnHwn                         int64
 327 NH18__IndAsnOth                         int64
 328 NH18__IndHwnOth                         int64
 329 NH18__AsnHwnOth                         int64
 330 NH18__WhtBlkIndAsn                      int64
 331 NH18__WhtBlkIndHwn                      int64
 332 NH18__WhtBlkIndOth                      int64
 333 NH18__WhtBlkAsnHwn                      int64
 334 NH18__WhtBlkAsnOth                      int64
 335 NH18__WhtBlkHwnOth                      int64
 336 NH18__WhtIndAsnHwn                      int64
 337 NH18__WhtIndAsnOth                      int64
 338 NH18__WhtIndHwnOth                      int64
 339 NH18__WhtAsnHwnOth                      int64
 340 NH18__BlkIndAsnHwn                      int64
 341 NH18__BlkIndAsnOth                      int64
 342 NH18__BlkIndHwnOth                      int64
 343 NH18__BlkAsnHwnOth                      int64
 344 NH18__IndAsnHwnOth                      int64
 345 NH18__WhtBlkIndAsnHwn                   int64
 346 NH18__WhtBlkIndAsnOth                   int64
 347 NH18__WhtBlkIndHwnOth                   int64
 348 NH18__WhtBlkAsnHwnOth                   int64
 349 NH18__WhtIndAsnHwnOth                   int64
 350 NH18__BlkIndAsnHwnOth                   int64
 351 NH18__All_Races                         int64
 352 NH18__AP_Wht                            int64
 353 NH18__NP_Wht                            int64
 354 NH18__AP_Blk                            int64
 355 NH18__NP_Blk                            int64
 356 NH18__AP_Ind                            int64
 357 NH18__NP_Ind                            int64
 358 NH18__AP_Asn                            int64
 359 NH18__NP_Asn                            int64
 360 NH18__AP_Hwn                            int64
 361 NH18__NP_Hwn                            int64
 362 NH18__AP_Oth                            int64
 363 NH18__NP_Oth                            int64
 364 NH18__1_Race                            int64
 365 NH18__2__Races                          int64
 366 NH18__2_Races                           int64
 367 NH18__3_Races                           int64
 368 NH18__4_Races                           int64
 369 NH18__5_Races                           int64
 370 NH18__DOJ_Blk                           int64
 371 NH18__DOJ_Ind                           int64
 372 NH18__DOJ_Asn                           int64
 373 NH18__DOJ_Hwn                           int64
 374 NH18__DOJ_Oth                           int64
 375 NH18__DOJ_OthMR                         int64
 376 Housing_Units                           int64
 377 HU_Occupied                             int64
 378 HU_Vacant                               int64
 379 Sliver                                  int64
 380 school_zone                             object
dtypes: float64(1), int64(349), object(31)
memory usage: 2.3+ MB

In [124]:
#Some of the information is irrelevant; some of it is the same for all rows; and some of it is repetitive.
#We will start with a selection of what seem like the most relevant features for our problem.
columns = ['BlockGroup', 'Population', 'White', 'Black', 'AmIndian', 'Asian', 'Hawaiian', 'Other', 'WhtBlk','Housing_Units', 'HU_Occupied', 'school_zone']
data = data[columns]

In [125]:
#Import additional information from the Virginia Equity Project. Most of this data was initially collected by the 
#U.S. Census. This data is only recorded at the block group level, so it is less granular than the first data set.
blocks = pd.read_csv('data/regional_atlas_block_groups.csv')

#Check to see what information is included
for col in blocks.columns:
    print(col)

Unnamed: 0
GEO_LEVEL
GEOID
STATEFP
COUNTYFP
COUNTYNS
NAME.x
NAMELSAD
LSAD
CLASSFP
MTFCC
CSAFP
CBSAFP
METDIVFP
FUNCSTAT
ALAND
AWATER
INTPTLAT
INTPTLON
NAME
year
totalpopE
totalpopM
whiteE
whiteM
blackE
blackM
asianE
asianM
indigE
indigM
othraceE
othraceM
multiE
multiM
ltnxE
ltnxM
povrateE
povrateM
cpovrateE
cpovrateM
hhincE
hhincM
hsmoreE
hsmoreM
bamoreE
bamoreM
gradmoreE
gradmoreM
unempE
unempM
hlthinsE
hlthinsM
pubinsE
pubinsM
earnE
earnM
giniE
giniM
vachseE
vachseM
allhseE
allhseM
snapE
snapM
foreignbE
foreignbM
renter30E
renter30M
homeownE
homeownM
vacrateE
vacrateM
perc_snaphseE
perc_snaphseM
perc_forbE
perc_forbM
schlE
schlM
age17E
age17M
age24E
age24M
age64E
age64M
age65E
age65M
hhinc_blackE
hhinc_blackM
hhinc_asianE
hhinc_asianM
hhinc_multiE
hhinc_multiM
hhinc_whiteE
hhinc_whiteM
hhinc_ltnxE
hhinc_ltnxM
disability_numE
disability_numM
fips
lifeexpE
lifeexpM
lifeexp_blackE
lifeexp_blackM
lifeexp_ltnxE
lifeexp_ltnxM
lifeexp_whiteE
lifeexp_whiteM
lifeexp_asianE
lifeexp_asianM
dissim_wb
dissim_wh
inter_bw
inter_hw
iso_b
iso_h
state
locality
county.nice
TRACTCE
BLKGRPCE
blockgroup
count
tractnames
tract
tr
pop

In [126]:
#This data is for the larger region, and we want to zoom in on just the city of Charlottesville
blocks['county.nice'].value_counts()

Albemarle County        84
Charlottesville City    38
Louisa County           24
Fluvanna County         16
Nelson County           12
Greene County           12
Name: county.nice, dtype: int64

In [127]:
#We will make a new dataframe of just the Charlottesville block groups.
blocks.rename(columns={"county.nice": "county"}, inplace=True)
cc_blocks = blocks[blocks.county=="Charlottesville City"]
cc_blocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 148 to 185
Columns: 127 entries, Unnamed: 0 to pop
dtypes: float64(97), int64(22), object(8)
memory usage: 38.0+ KB

In [128]:
#Many columns are all nulls, and others repeat information we already have. Additionally there are features that 
#are not relevant to our question, like water acreage.
block_columns = ['GEOID', 'hhincE','hsmoreE', 'bamoreE', 'gradmoreE', 'unempE', 'hlthinsE', 'pubinsE', 
                 'earnE', 'vachseE', 'allhseE','snapE', 'renter30E', 'homeownE', 'vacrateE', 'age17E', 
                 'age24E', 'age64E', 'age65E']
cc_blocks = cc_blocks[block_columns]
cc_blocks

,GEOID,hhincE,hsmoreE,bamoreE,gradmoreE,unempE,hlthinsE,pubinsE,earnE,vachseE,allhseE,snapE,renter30E,homeownE,vacrateE,age17E,age24E,age64E,age65E
148,515400002011,103636.0,97.33,72.90,46.76,8.06,98.96,10.45,62847.0,25,281,4,43.9,58.2,8.9,20.75,1.04,63.88,14.33
149,515400002012,NaN,84.40,30.35,11.91,0.00,88.07,12.03,24987.0,0,543,44,50.0,30.8,0.0,13.45,19.79,48.01,17.23
150,515400002013,48409.0,90.46,62.52,13.63,10.12,89.33,1.76,NaN,24,506,6,54.3,2.5,4.7,3.53,44.71,51.06,0.71
151,515400002021,42778.0,85.41,33.02,23.92,14.47,95.04,44.33,28699.0,117,789,201,56.7,22.3,14.8,34.53,14.88,44.21,4.60
152,515400002022,19187.0,81.70,48.65,16.34,1.49,82.81,4.78,10719.0,148,955,205,85.0,0.0,15.5,4.99,59.66,33.39,1.95
153,515400002023,NaN,100.00,85.78,57.34,11.87,95.63,1.39,4110.0,0,314,0,87.3,0.0,0.0,0.26,85.30,7.09,7.35
154,515400003021,66250.0,97.05,73.66,43.18,2.97,96.01,13.48,53490.0,112,1139,55,45.6,33.6,9.8,12.08,5.61,65.16,16.34
155,515400003022,82542.0,86.88,27.49,11.09,0.00,76.40,19.44,27071.0,141,655,58,52.5,61.5,21.5,16.18,3.89,59.86,17.90
156,515400004011,55577.0,99.00,43.51,18.16,3.14,90.48,37.75,40375.0,58,834,256,58.5,35.4,7.0,27.38,3.42,58.07,11.12
157,515400004012,81406.0,88.44,40.95,21.59,12.77,86.39,28.54,32481.0,56,713,80,23.8,72.5,7.9,19.83,5.98,61.42,11.16
158,515400004021,94076.0,89.24,62.84,35.94,7.43,100.00,19.13,36029.0,0,259,0,36.0,65.6,0.0,6.83,0.00,70.62,18.22
159,515400004022,85893.0,90.92,50.61,29.19,9.83,95.39,17.78,51058.0,0,686,86,73.0,60.6,0.0,10.51,1.44,70.77,13.97
160,515400004023,45045.0,90.46,43.69,19.90,0.00,97.28,9.26,29316.0,38,703,100,72.1,47.7,5.4,15.58,12.78,64.22,7.42
161,515400004024,80469.0,82.07,42.05,12.87,7.58,94.93,11.65,43033.0,14,585,45,54.5,67.3,2.4,8.45,3.74,75.09,12.72
162,515400005011,47771.0,85.99,46.04,20.97,1.28,84.29,23.60,37922.0,49,682,134,54.3,18.8,7.2,27.98,10.75,58.76,2.51
163,515400005012,78526.0,80.10,30.19,11.64,0.00,93.32,15.17,26864.0,29,303,20,7.1,48.9,9.6,6.43,17.35,70.18,6.04
164,515400005013,58508.0,94.91,33.23,10.64,0.51,93.57,14.89,35986.0,0,719,96,56.1,54.1,0.0,27.58,2.95,56.88,10.12
165,515400005021,111842.0,100.00,73.84,28.11,0.00,97.85,11.95,58833.0,59,841,80,32.0,26.1,7.0,27.72,6.95,52.64,11.75
166,515400005022,59318.0,91.25,73.30,56.11,2.94,88.13,13.94,55870.0,66,428,32,32.6,47.5,15.4,15.67,7.95,64.63,11.75
167,515400005023,78795.0,92.31,65.11,38.87,17.62,90.79,18.42,46273.0,46,549,95,63.6,54.1,8.4,12.78,8.34,67.61,11.27
168,515400005024,91000.0,100.00,60.97,32.48,3.52,94.54,12.29,33409.0,46,424,28,33.1,64.8,10.8,30.97,9.13,52.39,7.00
169,515400005025,103264.0,94.30,81.75,34.60,0.00,100.00,46.24,58365.0,0,141,0,0.0,70.2,0.0,10.31,16.43,41.78,31.48
170,515400006001,30139.0,91.69,47.61,25.69,4.11,93.76,6.54,6167.0,59,478,32,62.2,3.3,12.3,0.00,69.79,24.58,5.63
171,515400006002,21775.0,96.43,85.71,57.56,3.98,95.80,3.46,11221.0,121,783,28,57.0,8.3,15.5,0.74,72.23,21.64,5.39
172,515400006003,NaN,91.49,68.09,55.32,5.80,98.18,2.27,NaN,0,48,0,27.6,39.6,0.0,0.00,78.64,19.09,2.27
173,515400007001,82308.0,90.63,78.82,56.05,7.31,94.57,1.30,57813.0,35,487,0,33.6,71.7,7.2,22.28,2.28,52.39,21.20
174,515400007002,121111.0,96.75,80.75,46.21,4.37,95.64,3.41,22143.0,90,650,27,85.3,63.6,13.8,13.45,36.88,37.48,11.72
175,515400007003,NaN,100.00,99.54,55.84,0.00,99.90,1.87,19172.0,90,536,8,48.7,0.0,16.8,1.25,53.28,44.02,1.46
176,515400007004,200915.0,100.00,71.00,56.40,1.59,94.79,1.44,16447.0,23,260,0,30.9,60.3,8.8,7.43,37.14,26.16,21.84
177,515400008001,114267.0,94.45,67.59,33.62,0.74,97.00,7.18,74135.0,28,357,0,NaN,100.0,7.8,21.93,2.74,51.04,22.98
178,515400008002,101406.0,95.05,67.67,27.56,0.00,100.00,12.04,46550.0,35,338,32,0.0,91.1,10.4,12.65,0.00,54.17,31.48
179,515400008003,109205.0,100.00,74.65,33.98,1.83,100.00,7.75,69306.0,61,387,15,0.0,86.5,15.8,18.95,2.49,44.81,30.01
180,515400008004,46250.0,82.37,34.28,11.46,1.16,88.50,36.49,27069.0,8,591,131,49.0,28.0,1.4,28.80,1.70,57.32,10.28
181,515400009001,76970.0,88.59,58.51,22.93,2.63,93.44,6.39,46000.0,193,743,14,25.8,60.5,26.0,13.80,4.09,60.99,19.25
182,515400009002,102759.0,97.27,64.64,30.52,4.52,98.92,14.99,49797.0,9,383,0,31.4,62.6,2.3,7.66,5.39,59.65,24.06
183,515400010001,97563.0,96.13,66.12,30.01,1.81,98.44,4.68,65417.0,82,715,13,36.7,16.0,11.5,1.78,3.23,50.22,43.21
184,515400010002,70147.0,95.81,79.76,52.93,0.00,98.20,1.63,47969.0,8,634,42,53.4,44.4,1.3,21.68,6.77,52.36,16.28
185,515400010003,94879.0,99.23,87.52,47.61,2.59,93.14,3.37,47468.0,103,846,10,14.9,35.1,12.2,21.63,2.91,63.60,7.56

In [129]:
#Check our updated dataframe to see our data types and remaining nulls.
cc_blocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 148 to 185
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   GEOID      38 non-null     int64
 1   hhincE     34 non-null     float64
 2   hsmoreE    38 non-null     float64
 3   bamoreE    38 non-null     float64
 4   gradmoreE  38 non-null     float64
 5   unempE     38 non-null     float64
 6   hlthinsE   38 non-null     float64
 7   pubinsE    38 non-null     float64
 8   earnE      36 non-null     float64
 9   vachseE    38 non-null     int64
 10  allhseE    38 non-null     int64
 11  snapE      38 non-null     int64
 12  renter30E  37 non-null     float64
 13  homeownE   38 non-null     float64
 14  vacrateE   38 non-null     float64
 15  age17E     38 non-null     float64
 16  age24E     38 non-null     float64
 17  age64E     38 non-null     float64
 18  age65E     38 non-null     float64
dtypes: float64(15), int64(4)
memory usage: 5.9 KB

In [130]:
#Necessary setup to merge the two dataframes.
data['BlockGroup'] = data['BlockGroup'].astype(int)
data = data.rename(columns={'BlockGroup':'GEOID'})

In [131]:
#Merge the block data with the block group data, using "GEOID" as the key.
data = data.merge(cc_blocks, how='left', on='GEOID')
data

,GEOID,Population,White,Black,AmIndian,Asian,Hawaiian,Other,WhtBlk,Housing_Units,...,vachseE,allhseE,snapE,renter30E,homeownE,vacrateE,age17E,age24E,age64E,age65E
0,515400006002,377,174,33,0,144,0,3,5,156,...,121,783,28,57.0,8.3,15.5,0.74,72.23,21.64,5.39
1,515400006002,0,0,0,0,0,0,0,0,0,...,121,783,28,57.0,8.3,15.5,0.74,72.23,21.64,5.39
2,515400006002,10,8,0,0,0,0,2,0,2,...,121,783,28,57.0,8.3,15.5,0.74,72.23,21.64,5.39
3,515400006002,2,2,0,0,0,0,0,0,1,...,121,783,28,57.0,8.3,15.5,0.74,72.23,21.64,5.39
4,515400006002,195,104,28,0,55,0,2,0,0,...,121,783,28,57.0,8.3,15.5,0.74,72.23,21.64,5.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,515400006001,0,0,0,0,0,0,0,0,0,...,59,478,32,62.2,3.3,12.3,0.00,69.79,24.58,5.63
778,515400002022,83,76,1,0,6,0,0,0,18,...,148,955,205,85.0,0.0,15.5,4.99,59.66,33.39,1.95
779,515400002022,103,88,0,0,8,0,0,0,23,...,148,955,205,85.0,0.0,15.5,4.99,59.66,33.39,1.95
780,515400002022,1249,1028,73,1,105,1,15,5,447,...,148,955,205,85.0,0.0,15.5,4.99,59.66,33.39,1.95
781,515400002023,70,56,2,0,6,0,0,1,16,...,0,314,0,87.3,0.0,0.0,0.26,85.30,7.09,7.35

In [132]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 781
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GEOID          782 non-null    int64
 1   Population     782 non-null    int64
 2   White          782 non-null    int64
 3   Black          782 non-null    int64
 4   AmIndian       782 non-null    int64
 5   Asian          782 non-null    int64
 6   Hawaiian       782 non-null    int64
 7   Other          782 non-null    int64
 8   WhtBlk         782 non-null    int64
 9   Housing_Units  782 non-null    int64
 10  HU_Occupied    782 non-null    int64
 11  school_zone    782 non-null    object
 12  hhincE         723 non-null    float64
 13  hsmoreE        782 non-null    float64
 14  bamoreE        782 non-null    float64
 15  gradmoreE      782 non-null    float64
 16  unempE         782 non-null    float64
 17  hlthinsE       782 non-null    float64
 18  pubinsE        782 non-null    float64
 19  earnE          772 non-null    float64
 20  vachseE        782 non-null    int64
 21  allhseE        782 non-null    int64
 22  snapE          782 non-null    int64
 23  renter30E      774 non-null    float64
 24  homeownE       782 non-null    float64
 25  vacrateE       782 non-null    float64
 26  age17E         782 non-null    float64
 27  age24E         782 non-null    float64
 28  age64E         782 non-null    float64
 29  age65E         782 non-null    float64
dtypes: float64(15), int64(14), object(1)
memory usage: 189.4+ KB

In [133]:
#Population is not very meaningful as a number, since the different blocks are of disparate sizes. I engineered a
#feature to make the number more comparable across blocks
X['Density'] = X['Population']/X['Housing_Units']

In [134]:
#Drop our target (and a few other features we no longer need) to begin modeling
X = data.drop(['school_zone', 'GEOID', 'Population', 'Housing_Units'], axis=1)
y = data['school_zone']

In [135]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25, random_state=12)

In [136]:
#Let's start with dummy models.

dummy= DummyClassifier(strategy='uniform')
random_guess = dummy.fit(X_train, y_train).score(X_test, y_test)

dummy2 = DummyClassifier(strategy='most_frequent')
guessing_venable = dummy2.fit(X_train, y_train).score(X_test, y_test)

random_guess, guessing_venable

(0.15306122448979592, 0.32142857142857145)

In [137]:
#Our data will need to be scaled, and we do have two columns with some nulls. Knowing household income and 
#the percentage of burdened renters (paying more than 30% of income in rent) is useful to our question, so we 
#don't want to lose that data, so we will use a KNNImputer to fill in the few remaining null values. The model initially
#struggled to converge so we set the maximum iterations to a higher number.

pipe = Pipeline(steps=(('scale', StandardScaler()), ('knn', KNNImputer()), 
                       ('lr', LogisticRegressionCV(multi_class='multinomial', max_iter=10000))))

In [138]:
#Our target variable is categorical so we encode those categories
le = LabelEncoder()
y_train_labelled = le.fit_transform(y_train)
y_test_labelled = le.fit_transform(y_test)

In [139]:
#Initial attempt at a logistic regression
pipe.fit(X_train, y_train_labelled).score(X_train, y_train_labelled)

0.9044368600682594

In [140]:
#Initial attempt at a decision tree. I guessed at a max_depth to avoid overfitting.
pipe2 = Pipeline(steps=(('scale', StandardScaler()), ('knn', KNNImputer()), 
                        ('tree', DecisionTreeClassifier(max_depth=6))))

In [141]:
pipe2.fit(X_train, y_train_labelled).score(X_train, y_train_labelled)

0.8959044368600683

In [142]:
#Our data has the potential to be quite collinear, since so many markers of financial well-being correlate. Using PCA
#with our model can address this issue.
pipe3 = Pipeline(steps=(('scale', StandardScaler()), ('knn', KNNImputer())))

In [143]:
pipe3.fit(X_train, y_train_labelled)

X_tr_pca = pipe3.transform(X_train)
X_te_pca = pipe3.transform(X_test)

In [144]:
pca = PCA(n_components=5) 

X_train_pca = pca.fit_transform(X_tr_pca)
X_test_pca = pca.transform(X_te_pca)

In [145]:
#PCA logistic regression
lr_pca = LogisticRegressionCV(max_iter=10000).fit(X_tr_pca, y_train_labelled)

lr_pca.score(X_tr_pca, y_train_labelled)

0.9044368600682594

In [146]:
#PCA decision tree
tree = DecisionTreeClassifier(max_depth=6).fit(X_tr_pca, y_train_labelled)

tree.score(X_tr_pca, y_train_labelled)

0.8959044368600683

In [147]:
parameters={'max_depth': [6, 8, 10, 12, 14], 'min_samples_leaf': (1, 2, 3, 4)}
tree_cv = DecisionTreeClassifier()
tree_grid_search = GridSearchCV(tree_cv, parameters)
tree_grid_search.fit(X_tr_pca, y_train_labelled).score(X_tr_pca, y_train_labelled)

0.9300341296928327

In [148]:
tree_grid_search.best_params_

{'max_depth': 14, 'min_samples_leaf': 3}

In [149]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 781
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GEOID          782 non-null    int64
 1   Population     782 non-null    int64
 2   White          782 non-null    int64
 3   Black          782 non-null    int64
 4   AmIndian       782 non-null    int64
 5   Asian          782 non-null    int64
 6   Hawaiian       782 non-null    int64
 7   Other          782 non-null    int64
 8   WhtBlk         782 non-null    int64
 9   Housing_Units  782 non-null    int64
 10  HU_Occupied    782 non-null    int64
 11  school_zone    782 non-null    object
 12  hhincE         723 non-null    float64
 13  hsmoreE        782 non-null    float64
 14  bamoreE        782 non-null    float64
 15  gradmoreE      782 non-null    float64
 16  unempE         782 non-null    float64
 17  hlthinsE       782 non-null    float64
 18  pubinsE        782 non-null    float64
 19  earnE          772 non-null    float64
 20  vachseE        782 non-null    int64
 21  allhseE        782 non-null    int64
 22  snapE          782 non-null    int64
 23  renter30E      774 non-null    float64
 24  homeownE       782 non-null    float64
 25  vacrateE       782 non-null    float64
 26  age17E         782 non-null    float64
 27  age24E         782 non-null    float64
 28  age64E         782 non-null    float64
 29  age65E         782 non-null    float64
dtypes: float64(15), int64(14), object(1)
memory usage: 189.4+ KB